.container.testimonials-container {
  width: 40%;
}
.mySwiper {
  width: 40%;
}
.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  user-select: none;
  border-radius: 2rem;
  margin: 2rem;
}

.client__review {
  font-weight: 300;
  width: 80%;
  color: var(--color-light);
  display: block;
  margin: 0.8rem auto 0;
}

/*=============================== MEDIA QUERIES (MEDIUM DEVICES) ================*/
@media screen and (max-width: 1024px) {
  .container.testimonials-container {
    width: 60%;
  }
  .service {
    height: auto;
  }
}
/*=============================== MEDIA QUERIES (SMALL DEVICES) ================*/
@media screen and (max-width: 600px) {
  .container.testimonials-container {
    width: var(--container-width-sm);
  }
  .client__review {
    width: var(--container-width-sm);
  }
}
